<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.podevs.android.pokemononline"
    android:installLocation="auto"
    android:versionCode="34"
    android:versionName="2.4.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.podevs.android.pokemononline.registry.RegistryActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/DarkAppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.podevs.android.pokemononline.battle.BattleActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.podevs.android.pokemononline.teambuilder.TeambuilderActivity"
            android:label="@string/teambuilder"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.podevs.android.pokemononline.chat.ChatActivity"
            android:parentActivityName="com.podevs.android.pokemononline.registry.RegistryActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.podevs.android.pokemononline.pms.PrivateMessageActivity"
            android:label="@string/private_messages"
            android:launchMode="singleTask"
            android:theme="@style/DarkAppTheme" >
        </activity>
        <activity android:name=".teambuilder.EditPokemonActivity"/>

        <service android:name="com.podevs.android.pokemononline.NetworkService" />
        <service android:name="com.podevs.android.pokemononline.registry.RegistryConnectionService" />
    </application>

</manifest>